*{
    margin: 0;
    padding: 0;

}
.navbar-brand{
    position: relative;
    bottom: 8px;
    right: 10px;
}

.form-control {
    width: 500px !important; /* Apni desired width yahan set karein */
}

.profie-viewer{
font-size: x-small;
font-weight: bolder;
font-family: "Roboto";
position: relative;
top: 22px;
right: 90px;
}

